div(align="center")
	img(src = "images/faceaids_logo.gif")


div(class="container")
	section(id="content")
		form(name="input", action="/", method="post")
			div
				label
					| 
					input(type="text", name="user", placeholder="Username", required="", id="username")
			div
				label
					| 
					input(type="password", name="pswd", placeholder="Password", required="", id="password")
			div
				input(type="submit", value="Sign in")
		
