h1= title

form(name="input", action="/", method="post")
  | Username:
  input(type="text", name="user")
  br
  | Password:
  input(type="text", name="pswd")
  br
  input(type="submit", value="Submit")